//Layout BGcolor
$background: rgb(245, 238, 238);

//headerTop
$headerTop: (
    bgColor: rgb(59, 58, 58),
    font-color: #fff
);

//Header search input color
$searchInputHeader: (
    bgColor: #fff,
    borderColor: #fff,
    fontColor: rgb(59, 58, 58),
);
