//Fonts

@font-face {
    font-family: Anton;
    src: url('/fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Saira;
    src: url('/fonts/Saira-Light.ttf');
}

@font-face {
    font-family: Unica;
    src: url('/fonts/UnicaOne-Regular.ttf');
}